<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field color="accent" appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input type="text"
             matInput
             [formControl]="form.controls.title"
             placeholder="Title">
      <mat-error *ngIf="form.controls.title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill" class="w-full">
      <mat-label>Assignee</mat-label>
      <mat-select [formControl]="form.controls.assigneeId">
        <mat-option *ngFor="let user of users$ | async" [value]="user.id">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <input type="text"
             matInput
             [formControl]="form.controls.description"
             placeholder="Description">
      <mat-error *ngIf="form.controls.description.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button
    type="button"
    (click)="onSubmit()"
    [disabled]="form.invalid || form.pristine"
    mat-raised-button
    color="accent">{{ data.task ? 'Update' : 'Add' }}
  </button>
</mat-dialog-actions>
